# An example .env file for Hydrus Video Deduplicator config.
# Duplicate this file and rename to .env and update these fields to your config.
# Remove the '#' at the start of lines below and set the value of the field as needed.
# If a field is missing below and the option is not set in a CLI/GUI parameter,
# a default value will be used.

# Hydrus API
HYDRUS_API_URL="http://localhost:45869"
HYDRUS_API_KEY="3b3cf10cc13862818ea95ddecfe434bed0828fb319b1ff56413917b471b566ab"

# Deduplication
# SIMILARITY_THRESHOLD="50" # Approximately the % similarity two videos must be to be considered similar/duplicate. Must be between 0 and 100.
# JOB_COUNT="-2" # Number of CPU cores for hashing. Negative numbers correspond to all but N+1 cores. Ex. A PC with 8 cores with -2 config would result in 7 cores being used for hashing.

# Misc
# FAILED_PAGE_NAME="failed_videos" # Name of the Hydrus page that will be populated with files that fail to be perceptually hashed. You must manually create this in Hydrus.
